<!DOCTYPE html>
<html>
  <head>
    <title>NewsReader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "https://bootswatch.com/4/journal/bootstrap.min.css" %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
